{{ define "title" }}Page not found{{ end }}

{{ define "main" }}
  <div class="not-found">
    <h1 class="error-emoji">:(</h1>
    <p class="error-text">/* 404 page not found. */</p>
    <p class="error-link"><a href="/">↑ Back Home ↑</a></p>
  </div>
  <script src="{{ "/js/bundle.js" | relURL }}"></script>
{{ end }}
