.post-content {
  position: relative;
  line-height: 1.8;
  word-break: break-word;
  word-wrap: break-word;
  color: var(--text);

  & li + li {
    margin-top: 0.5rem;
  }

  & a {
    opacity: 1;
    border-bottom: 1px dashed var(--green-light);
    padding-bottom: 0.1em;
    color: var(--primary);

    &:focus,
    &:hover {
      border-bottom: 1px solid var(--green-light);
    }
  }

  & em {
    color: var(--text-light);
    font-style: italic;
  }

  & strong {
    color: var(--text-strong);
  }

  & del {
    text-decoration: line-through;
    color: var(--text-light);
  }

  & ins {
    text-decoration: underline;
    color: var(--text-strong);
  }

  & hr {
    position: relative;
    margin: 2rem auto;
    border-top: 1px dashed var(--grey-lighter);
    border-bottom: none;

    &::before {
      position: absolute;
      top: -12px;
      left: calc(50% - 40px);
      background-color: var(--white);
      padding: 0 0.5rem;
      color: var(--grey-lighter);
      font-family: var(--family-monospace);
      font-size: var(--size-7);
      content: "sep line";
    }
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    text-align: left;
    line-height: 1.125;
    color: var(--text-strong);
    font-weight: var(--weight-semibold);
  }

  & h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: var(--size-2);
  }

  & h2 {
    margin-top: 1.75rem;
    margin-bottom: 0.75rem;
    font-size: var(--size-3);
  }

  & h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: var(--size-4);
  }

  & h4 {
    margin-top: 1.25rem;
    margin-bottom: 0.25rem;
    font-size: var(--size-5);
  }

  & h5 {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: var(--size-6);
  }

  & h6 {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: var(--size-7);
  }

  & p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: justify;
  }

  & blockquote {
    margin: 2rem 0;
    border-left: 5px solid var(--border);
    background-color: var(--background);
    padding: 0.5rem 1rem;

    & p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    & cite {
      margin-top: 1.5rem;
      color: var(--text-light);
      font-size: 0.9rem;
    }
  }

  & tt,
  & code {
    margin: 0;
    background-color: var(--code-background);
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-family: var(--family-monospace);
    font-size: 0.9em;

    &::before,
    &::after {
      letter-spacing: -0.2em;
      content: "\00a0";
    }

    &.has-jax {
      background-color: transparent;
      padding: 0;
      font-size: 1em;
    }
  }

  & kbd {
    display: inline-block;
    border: 1px solid var(--grey-lighter);
    border-radius: var(--radius);
    border-bottom-color: var(--grey-light);
    box-shadow: inset 0 -1px 0 var(--grey-light);
    background-color: var(--white-bis);
    padding: 0.25em;
    line-height: 1.25;
    color: var(--text);
    font-family: var(--family-monospace);
    font-size: 0.8em;
  }

  & pre {
    margin: 2rem auto;
    border-radius: var(--radius);
    padding: 1rem;
    overflow-x: auto;
    line-height: 1.618;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    font-size: 0.9rem;

    & code {
      background-color: transparent;
      font-size: 0.9rem;

      &::before,
      &::after {
        content: none;
      }
    }
  }

  & sup,
  & sub {
    font-size: var(--size-7);

    & a {
      border-bottom: none;

      &:focus,
      &:hover {
        border-bottom: none;
      }
    }
  }

  & ol {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0;
    padding-left: 1.5rem;
    list-style: decimal outside;

    & ol {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      list-style: lower-roman outside;
    }

    & ul {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      list-style: disc outside;
    }
  }

  & ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0;
    padding-left: 1.5rem;
    list-style: disc outside;

    & ul {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      list-style: circle outside;
    }

    & ol {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      list-style: decimal outside;
    }
  }

  & .task-list {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 0;
    list-style: none;

    & .task-list {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding-left: 1.5rem;
    }
  }

  & dl {
    margin-top: 2rem;
    margin-bottom: 2rem;

    & dt {
      margin-top: 1rem;
      color: var(--primary);

      &::after {
        content: ':';
      }
    }

    & dd {
      margin-top: 0.25rem;
      margin-left: 0;
      text-indent: 2rem;
    }
  }

  & figure {
    display: block;
    margin: 2rem auto;

    & img {
      box-shadow: 2px 20px 40px 10px var(--box-shadow-dark);
      max-width: 100%;

      @media screen and (max-width: 800px) {
        box-shadow: none;
      }
    }

    & figcaption {
      & h4 {
        text-align: center;
        color: var(--grey-light);
        font-size: 0.9rem;
      }
    }
  }

  & img {
    display: block;
    margin: 2rem auto;
    box-shadow: 2px 20px 40px 10px var(--box-shadow-dark);
    max-width: 100%;

    @media screen and (max-width: 800px) {
      box-shadow: none;
    }
  }

  & div.has-jax {
    margin: 2rem auto;
  }

  & .MathJax_Display,
  & .MathJax {
    &:focus {
      outline: none;
    }
  }
}
