.avatar {
  transition: all var(--easing) var(--speed);
  margin-top: 3rem;
  border: 4px solid var(--media-border);
  border-radius: 50%;
  box-shadow: 0 1px 4px var(--box-shadow-darker);
  width: 8rem;
  height: 8rem;

  &:hover {
    transform: rotate(180deg);
  }

  @media screen and (max-width: 800px) {
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin-top: 0;
    border: 2px solid var(--media-border);
    width: 2rem;
    height: 2rem;
  }
}

.title {
  margin: 1rem auto;
  font-family: var(--family-lobster);
  font-size: var(--size-4);
  font-weight: var(--weight-bold);

  @media screen and (max-width: 800px) {
    margin-top: 3rem;
  }
}

.subtitle {
  opacity: 0.7;
  margin-bottom: 3rem;
}

.menu-toggle {
  display: none;
  transition: all var(--easing) var(--speed);
  outline: none;
  border: none;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  font-size: var(--size-4);

  @media screen and (max-width: 800px) {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.site-menu {
  text-transform: capitalize;

  & .menu-list {
    padding: 0;
    list-style: none;
  }

  & .menu-item {
    padding: 1rem 0;

    & a {
      display: inline-block;
      height: 1.5rem;
      line-height: 1.5;
    }
  }

  &.collapsed {
    @media screen and (max-width: 800px) {
      max-height: 0;
    }
  }

  @media screen and (max-width: 800px) {
    transition: max-height var(--easing) var(--speed);
    max-height: 1000px;
    overflow-y: hidden;
  }
}

.social-menu {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  font-size: 0;

  & .social-list {
    padding: 0;
    list-style: none;
    line-height: 2;
  }

  & .social-item {
    display: inline-block;
    font-size: 1rem;
  }

  & li + li {
    padding-left: 1rem;
  }

  &.collapsed {
    @media screen and (max-width: 800px) {
      margin: 0 auto;
      max-height: 0;
    }
  }

  @media screen and (max-width: 800px) {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all var(--easing) var(--speed);
    margin: 2rem auto;
    max-height: 125px;
    overflow-y: hidden;
  }

  @media screen and (min-width: 800px) and (max-height: 768px) {
    display: none;
  }
}
