.links-list {
  text-align: center;
  font-size: 0;

  & .link-item {
    box-sizing: border-box;
    display: inline-block;
    margin: 1.5rem auto;
    width: 25%;

    & + .link-item {
      padding-left: 1rem;
    }

    & .link-avatar {
      transition: transform var(--easing) var(--speed);
      border: 2px solid var(--media-border);
      border-radius: 50%;
      box-shadow: 0 1px 4px var(--box-shadow-darker);
      width: 100px;
      height: 100px;

      &:hover {
        transform: rotate(45deg);
      }
    }

    & .link-title {
      min-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: var(--size-6);
    }

    & .link-description {
      min-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: var(--size-7);
    }

    @media screen and (max-width: 800px) {
      width: 50%;
    }
  }
}
