.offscreen {
  position: absolute;
  left: -1024rem;
}

.suspension {
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  z-index: 1000;

  & a {
    display: block;
    opacity: 1;
    border: 1px solid var(--media-border);
    border-radius: 50%;
    box-shadow: 0 1px 4px var(--box-shadow-darker);
    background-color: var(--white-bis);
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;

    & + a {
      margin-top: 1rem;
    }

    &.to-top {
      transition: all var(--easing) var(--speed);
      color: var(--grey);

      &:hover {
        border-color: var(--grey);
        background-color: var(--grey);
        color: var(--white);
      }
    }

    &.to-comment {
      transition: all var(--easing) var(--speed);
      color: var(--primary);

      &:hover {
        border-color: var(--primary);
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }

  & .is-hide {
    display: none;
  }
}

.not-found {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 15.5rem;
  text-align: center;
  font-family: var(--family-monospace);

  & .error-emoji {
    color: var(--text-strong);
    font-size: var(--size-1);
  }

  & .error-text {
    color: var(--text-light);
    font-size: var(--size-5);
  }

  & .error-link {
    margin-top: 2rem;

    & a {
      color: var(--primary);
      font-size: var(--size-6);
    }
  }
}
