.pagination {
  position: relative;
  height: calc(2.9rem + 2px);

  & a {
    color: var(--text);
  }

  & .pagination-previous,
  & .pagination-next {
    position: absolute;
    border: 1px solid var(--border);
    background-color: var(--white);
    padding: 1rem;
    text-transform: uppercase;
    line-height: 1;
    font-size: 0.9rem;

    &:focus,
    &:hover {
      border-color: var(--primary);
      background-color: var(--primary);
      color: var(--white);
    }
  }

  & .pagination-previous {
    top: 0;
    left: 0;
  }

  & .pagination-next {
    top: 0;
    right: 0;
  }
}
