html {
  line-height: 1.618;
  font-family: var(--family-sans-serif);
  font-size: 16px;
}

body {
  background: var(--background) var(--background-image) repeat fixed;
  text-rendering: optimizeLegibility;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

a {
  opacity: 0.7;
  text-decoration: none;
  color: var(--text-strong);

  &:focus,
  &:hover {
    opacity: 1;
    outline: none;
    color: var(--black-ter);
  }
}

.site-header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 20rem;
  text-align: center;

  & .is-active {
    & a {
      opacity: 1;
      color: var(--text-strong);
      font-weight: var(--weight-bold);
    }
  }

  & a {
    opacity: 0.5;
    color: var(--black-ter);

    &:focus,
    &:hover {
      opacity: 1;
      color: var(--text-strong);
    }
  }

  @media screen and (max-width: 800px) {
    position: relative;
    width: 100%;
  }
}

.main {
  box-sizing: border-box;
  position: relative;
  margin-left: 20rem;
  border-right: 1px solid var(--main-border);
  border-left: 1px solid var(--main-border);
  box-shadow: 0 1px 4px var(--box-shadow);
  background: var(--main-background);
  padding: 1rem 2rem;
  width: calc(100% - 20rem);
  max-width: 70rem;
  min-height: 100vh;

  & .list-footer {
    padding: 1.5rem 0;
  }

  @media screen and (max-width: 800px) {
    margin-left: 0;
    border-top: 1px solid var(--main-border);
    border-right: none;
    border-bottom: 1px solid var(--main-border);
    border-left: none;
    padding: 0 1rem;
    width: 100%;
    min-height: initial;
  }
}

.site-footer {
  display: none;

  @media screen and (max-width: 800px) {
    display: block;
    padding: 2rem 1rem;
    text-align: center;
    color: var(--text);
    font-family: var(--family-monospace);
    font-size: var(--size-7);

    & a {
      opacity: 0.7;
      color: var(--text);

      &:focus,
      &:hover {
        opacity: 1;
      }
    }
  }
}
