.post-entry {
  position: relative;
  border-top: 1px solid transparent;
  line-height: 1.8;

  & a {
    color: var(--text);

    &:focus,
    &:hover {
      color: var(--primary);
    }
  }

  & + .post-entry {
    border-color: var(--white-ter);
  }

  & .post-title {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.3;
    font-size: 1.3rem;
    font-weight: var(--weight-bold);

    & a {
      opacity: 1;
    }
  }

  & .post-meta {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: var(--size-7);
  }

  & .post-cover {
    position: absolute;
    top: 4.6rem;
    right: 0;
    width: 8rem;
    height: 8rem;
    font-family: 'object-fit: cover;';
    object-fit: cover; // Polyfill for object-fit
    border-radius: var(--radius);

    & + .post-summary {
      padding-right: 9rem;
    }

    @media screen and (max-width: 800px) {
      position: static;
      margin: 0 -1rem;
      border-radius: 0;
      width: 100vw;
      height: 56.25vw;

      & + .post-summary {
        padding-right: 0;
      }
    }
  }

  & .post-summary {
    opacity: 0.7;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 0.9rem;
  }

  & .post-footer {
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    & .read-more {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: var(--size-7);
    }
  }
}
