.terms-list {
  & .tags-cloud {
    margin: 2em auto;

    & a {
      display: inline-block;
      position: relative;
      opacity: 1;
      border-radius: 5px;
      text-decoration: none;

      &.tag-s {
        opacity: 0.8;
        padding: 0 0.5rem;
        line-height: 2rem;
        color: var(--grey);
        font-size: 1rem;
      }

      &.tag-m {
        opacity: 0.9;
        padding: 0 0.75rem;
        line-height: 2.5rem;
        color: var(--grey-dark);
        font-size: 1.25rem;
      }

      &.tag-l {
        padding: 0 1rem;
        line-height: 3rem;
        color: var(--grey-darker);
        font-size: 1.5rem;
      }

      &.tag-xl {
        padding: 0 1.25rem;
        line-height: 3.25rem;
        color: var(--black-ter);
        font-size: 1.75rem;
      }

      &.tag-xxl {
        padding: 0 1.5rem;
        line-height: 3.5rem;
        color: var(--primary);
        font-size: 2rem;
      }

      &:hover {
        opacity: 0.8;
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }
}
